<?xml version="1.0" encoding="utf-8" ?>
<host xmlns="urn:rm/host.config">
	<modules>
		<!-- module assembly="RM.Lib.StateMachine"/>
		<module assembly="RM.UzTicket.Data" / -->
		<module assembly="RM.Lib.ProxyBot" />
		<module assembly="RM.UzTicket.Settings" />
		<module assembly="RM.UzTicket.Telegram" />
		<module assembly="RM.Lib.UzTicket" />
	</modules>
	<sections></sections>
</host>
