<?xml version="1.0" encoding="utf-8" ?>
<host xmlns="urn:rm/host.config">
	<modules>
		<module assembly="RM.UzTicket.Settings" />
		<module assembly="RM.UzTicket.Proxy" />
		<module assembly="RM.UzTicket.Telegram" />
		<!--<module assembly="Matrix42.DataLayer.Persistence" />-->
	</modules>
	<sections></sections>
</host>
