<?xml version="1.0" encoding="utf-8" ?>
<host xmlns="urn:rm/host.config">
	<modules>
		<!-- module assembly="RM.Lib.StateMachine"/>
		<module assembly="RM.UzTicket.Data" />
		<module assembly="RM.Lib.ProxyBot" / -->
		<module assembly="RM.UzTicket.Settings" />
		<module assembly="RM.UzTicket.Telegram" />
		<module assembly="RM.Lib.UzTicket" />
	</modules>
  <!--<sections>
    <section name="seatSorting" type="RM.Lib.UzTicket.ConfigSection, RM.Lib.UzTicket" />
  </sections>
  <config>
    <proxy provider="some provider" timeout="300" />
    <seatSorting useSelf="true" timeout="500">
      <module assemblyName="RM.Lib.UzTicket.SomeElaborateSortingLib" />
      <module assemblyName="RM.Lib.UzTicket.SomeMoreElaborateSortingLib" />
    </seatSorting>
    <boo test="test" />
    <boo test="test2" />
  </config>-->
</host>
